<!doctype html>

<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="style.css" />
    <title>{% block title %}{% endblock %} - Portfolio</title>
    <style type="text/css">
       <style type="text/css">
          table,th,td {
             border:1px solid black;
          }

          headerbox {
             background-color:#FFD700
          }

       {% block css %} {% endblock %}
    </style>
</head>
<body>
   <div id="headerbox">
      <a href="/"><h1 style="margin-bottom:0;">Filtering through Leslie's Portfolio</h1></a>
   </div>

   <div id='subheading'>
      <a title="List All Projects" href="/allprojects">List All Project</a>
   </div>

    <!--Worked with Sarah to iterate through DataController methods 6/27/12-->
   <div id="project_menu" style="background-color:#FFD700;height:700px;width:20%;float:left;">
      <h2>Organizations/Clients</h2>
      <!--Got code from w3schools.com http://www.w3schools.com/tags/tag_button.asp-->
      <a href="/bySchool"><button type="button">School</button></a>
      <br/>
      {%for org in orgs%}
        <ul>
            <li><a href="/?org={{org}}">{{org}}</a>
        <!--This creates an if statement - if link is selected, it will mark the link. -->
            {% if org == selected_org %}*** {% endif %}
            </li>
        </ul>
      {% endfor %}
   </div>

   <div id="main" style="background-color: #FF0000; height:500px;width:60%;float:left;">
    <div id="content">{% block content %}{% endblock %}</div>
   </div>

   <div id="people_menu" style="background-color:#FFD700;height:500px;width:20%;float:left;">
      <h2>No. of People Experienced</h2>
        {%for num_people in people%}
        <a href="/?num_people={{num_people}}">{{num_people}}</a> 
        {% if num_people == selected_num_people %}*** {% endif %} <br/>
        <!--<button type="button">{{person}}</button> <br/> -->
      {% endfor %}
      <hr>

      <h2>Project Locations</h2>
        {%for place in places%}
        <a href="/?place={{place}}">{{place}}</a>
        {% if place == selected_place %}*** {% endif %}
        <br/>
        {% endfor %}
      <hr>

      <h2>Tools</h2>
        {%for tool in tools%}
        <a href="/?tool={{tool}}">{{tool}}</a>
        {% if tool == selected_tool %}*** {% endif %}
        <br/>
        {% endfor %}
   </div>

   <br><hr><br>

   <div id="years"; style="height:40px; width:80%; float:right;">
      <h2>Years</h2>
      {%for year in years%}
        <a href="/?year={{year}}">{{year}}</a>
        <!--<button type="button">{{year}}</button> -->
      {% endfor %}
   </div>
</body>

